#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

//  ###########################################################
//  ###########        WORKING 2024/03/23        ###############
//  ###########################################################
// #############            LAYERS            #################

#define SYM_L   1
#define NAV_L   2
#define NAV2_L  3

//#define OTHER_L 4

#define DEFAULT 0
#define LOWER   1
#define RAISE   2
#define SYMBOL  3

// Desktop and tab navigation shortcuts

#define DESKTOP_LT   LC(LG(LEFT))
#define DESKTOP_RT   LC(LG(RIGHT))
#define WINDOW_LT    LA(LS(TAB))
#define WINDOW_RT    LA(TAB)
#define TAB_LT       LC(LS(TAB))
#define TAB_RT       LC(TAB)

// NOT USED  &kp LG(LC(LEFT))  &kp LG(LC(RIGHT))
// Generic bindings

#define KILL_WINDOW  LA(F4)
#define MAXIMIZE     LG(UP)
#define MINIMIZE     LG(DOWN)
#define UN_MINIMIZE  LG(LC(N))

&mt {
    flavor = "hold-preferred";
    tapping-term-ms = <500>;
};

&lt {
    flavor = "balanced";
    tapping-term-ms = <150>;
};

&sl {
    release-after-ms = <2000>;
};

/ {
    conditional_layers {
        compatible = "zmk,conditional-layers";

        tri_layer {
            if-layers = <1 2>;
            then-layer = <4>;
        };
    };

    macros {
        ZMK_MACRO(inv_qm,

        wait-ms = <10>;
        tap-ms = <10>;
        bindings =
            <&macro_press &kp LALT>,
            <&macro_tap &kp KP_N1 &kp KP_N6 &kp KP_N8>,
            <&macro_release &kp LALT>;

        )
    };

    behaviors {
        //   td_mt_ls: tap_dance_mod_tap {
        //       compatible = "zmk,behavior-tap-dance";
        //       label = "TAP_DANCE_LSHIFT";
        //       #binding-cells = <0>;
        //       tapping-term-ms = <200>;
        //       bindings = <&mt LSHIFT CAPSLOCK>, <&kp LCTRL>;
        //   };
        //   td_mt_rs: tap_dance_mod_tap {
        //       compatible = "zmk,behavior-tap-dance";
        //       label = "TAP_DANCE_RSHIFT";
        //       #binding-cells = <0>;
        //       tapping-term-ms = <200>;
        //       bindings = <&mt RSHIFT CAPSLOCK>, <&kp RCTRL>;
        //   };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
&kp GRAVE        &kp N1     &kp N2            &kp N3      &kp N4     &kp N5       &kp N6      &kp N7     &kp N8     &kp N9       &kp N0    &kp EQUAL   &kp EQUAL  &kp EQUAL
&kp TAB          &kp Q      &kp W             &kp E       &kp R      &kp T        &kp Y       &kp U      &kp I      &kp O        &kp P     &kp RBKT    &kp RBKT   &kp RBKT
&kp LCTRL        &kp A      &kp S             &kp D       &kp F      &kp G        &kp H       &kp J      &kp K      &kp L        &kp SEMI  &kp FSLH    &kp FSLH   &kp FSLH
&kp LSHIFT       &kp Z      &kp X             &kp C       &kp V      &kp B        &kp N       &kp M      &kp COMMA  &kp DOT      &kp FSLH  &kp RSHIFT  &kp RSHIFT &kp RSHIFT
&kp SPACE        &kp SPACE  &kp LALT          &kp LGUI    &mo LOWER  &kp SPACE    &mo SYMBOL  &kp LALT   &kp K_APP  &kp LG(TAB)  &kp RALT  &kp RGUI
                         &kp TAB           &kp ESC     &kp LCTRL  &kp BSPC     &kp RET     &mo RAISE  &kp LPAR   &kp RPAR
            >;
        };

        LOWER {
            bindings = <
&kp GRAVE  &none      &kp PAUSE_BREAK  &kp SLCK             &kp PSCRN  &kp PSCRN        &bt BT_CLR  &none      &none          &none        &none      &kp C_MUTE
&kp MINUS  &kp N1     &kp N2           &kp N3               &kp N4     &kp N5           &kp N6      &kp N7     &kp N8         &kp N9       &kp N0     &kp EQUAL
&kp LT     &none      &kp LC(W)        &kp LC(J)            &kp LC(Y)  &kp LS(LC(T))    &kp PG_UP   &kp HOME   &kp UP         &kp END      &kp P      &kp GT
&kp CAPS   &kp LC(A)  &kp LC(S)        &kp LC(D)            &kp LC(F)  &kp LC(N)        &kp PG_DN   &kp LEFT   &kp DOWN       &kp RIGHT    &kp COLON  &kp LS(FSLH)
&kp CAPS   &kp LC(Z)  &kp LC(X)        &kp LC(C)            &kp LC(V)  &kp ESC          &kp INS     &kp M      &kp LS(COMMA)  &kp LS(DOT)  &kp PLUS   &kp MINUS
                      &kp AMPS         &kp LS(NON_US_BSLH)  &mo LOWER  &kp SPACE        &kp LS(N3)  &kp CARET  &kp DOLLAR     &kp PRCNT
                      &kp TAB          &kp ESC              &kp LCTRL  &kp DEL          &kp EXCL    &kp EQUAL  &kp LBRC       &kp RBRC
            >;
        };

        RAISE {
            bindings = <
&kp F11     &none            &none            &none            &none            &none              &none      &none         &none     &none          &none     &kp C_MUTE
&none       &kp N1           &kp N2           &kp N3           &kp N4           &kp N5             &kp N6     &kp N7        &kp N8    &kp N9         &kp N0    &kp C_VOL_UP
&none       &none            &none            &none            &none            &none              &kp PG_UP  &kp HOME      &kp UP    &kp END        &none     &kp C_VOL_DN
&sl SYMBOL  &kp KP_NUMBER_1  &kp KP_NUMBER_2  &kp KP_NUMBER_3  &kp KP_NUMBER_4  &kp KP_NUMBER_5    &kp PG_DN  &kp LC(LEFT)  &kp DOWN  &kp LC(RIGHT)  &none     &kp C_MUTE
&kp GRAVE   &kp TILDE2       &none            &none            &none            &none              &kp INS    &none         &kp LBRC  &kp RBRC       &kp FSLH  &kp ASTRK
                             &kp NON_US_HASH  &kp TILDE2       &kp COLON        &kp SEMI           &kp DEL    &kp N4        &kp N5    &kp N6
                             &kp LC(C)        &kp LC(V)        &kp LC(X)        &kp UNDER          &kp EQUAL  &kp EXCL      &kp LBKT  &kp RBKT
            >;
        };

        SYMBOL {
            bindings = <
&none       &none   &none   &none   &none   &none      &none   &none   &none    &none    &none   &none
&bt BT_CLR  &none   &none   &none   &none   &none      &none   &none   &none    &none    &none   &none
&bt BT_NXT  &none   &none   &none   &none   &none      &none   &none   &none    &none    &none   &none
&bt BT_PRV  &kp N1  &kp N2  &kp N3  &kp N4  &kp N5     &kp N6  &kp N7  &kp N8   &kp N9   &kp N0  &none
&kp LBKT    &none   &none   &none   &none   &none      &none   &none   &none    &none    &none   &none
                    &kp N1  &kp N2  &kp N3  &kp N4     &kp N1  &kp N2  &kp N3   &kp N4
                    &kp N5  &kp N6  &kp N7  &kp DEL    &kp N9  &kp N0  &kp F11  &kp F12
            >;
        };
    };
};
